.date-picker-wrapper {
  display: flex;
  flex-direction: column;
}

.custom-date-picker {
  width: 100%;
  padding: 5px 12px;
  border: 1px solid #dde7f2;
  border-radius: 5px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.custom-date-picker:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.3);
}

.react-datepicker__header {
  background-color: #e2e1f7cc;
  border-bottom: 1px solid #ccc;
  color: #505ae4cc;
}

.react-datepicker__header * {
  color: #292f82cc;
}

.react-datepicker__navigation {
  fill: #5c67f7cc !important;
}

.react-datepicker__navigation:hover {
  fill: #4e56c7 !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #6c63ff !important;
  color: white !important;
}

.react-datepicker__day:hover {
  background-color: #b1b5e7;
}
